.wd-nav-bar {
    padding-left: 16px;
}

.wd-link-highlight {
    /*padding-left: 16px;*/
    color: #1DA1F2;
    font-size: 15px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #1DA1F2;
    font-weight: bold;
}

.nav-link {
    color: rgb(110, 118, 125);
}

.wd-link {
    color: rgb(110, 118, 125);
    font-size: 15px;
    font-weight: bold;
}

.btn-primary {
    background-color: #1DA1F2;
}

.btn-secondary {
    background-color: black;
}

.wd-tweet-button {
   border-radius: 20px;
   width: 100%;
   padding: 0px;
   text-align: center;
}


.wd-rounded-corners-all-around {
    height: 40px;
    border-radius: 50px;
    width: 100%;
    border-left: 0;
}

.wd-main {
    position: relative;
}

.wd-main-image {
    width: 100%
}

.wd-tweet-main-image {
    width: 100%;
    border-radius: 15px;
}

.wd-overlay-text {
    font-size: 40px;
    color: black;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left:0px;
}

.wd-post {
    display: flex;
    justify-content: space-between;
}

.wd-post-topic-in-list {
    font-size: 13px;
    color: rgb(110, 118, 125);
    padding-bottom: 3px;
    padding-top: 3px;
}

.wd-post-topic {
    font-size: 13px;
    /*color: rgb(110, 118, 125);*/
    color: white;
    padding-bottom: 3px;
    padding-top: 3px;
}

.wd-author-handle {
    color: white;
    display: inline-block;
    font-weight: bold;
}

.wd-time {
    display: inline-block;
    color: rgb(110, 118, 125);
}

.wd-post-image {
    float: right;
    padding-right: 16px;
    padding-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

.wd-img-avatar {
    width: 100%;
    height: 50px;
    border-radius: 50%;
}

.wd-tweet-img-avatar {
    width: 150%;
    /*height: 50px;*/
    border-radius: 50%;
}

.input-group-prepend {
    border-style: solid;
    border-color: lightgray;
    border-radius: 50px;
    border-right: 0;
}
.input-group-text {
    border: 0;
    height: 35px;
    width: 100%;
}

.wd-flex-impressions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkgrey;
}