<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<a href = "navigation.html">Back</a>
<h1>Tuiter</h1>
<h2>Edit Profile</h2>
<a href="profile.html">Save</a>
<img width="100%"
     height="200px"
     src="https://cdn.pixabay.com/photo/2016/09/08/13/58/desert-1654439__340.jpg"/>
<br/>
<input type="file"/>
<br/>
<img width="48px"
     height="48px"
     src="https://icons.veryicon.com/png/o/system/ali-mom-icon-library/random-user.png"/>
<br/>
<input type="file"/>
<hr>
<label for="text-field-name">Name</label>
<br/>
<input type="text" id="text-field-name"
       placeholder="Name" value="WebDev"/>
<hr>
<label>Bio</label><br/>
<textarea cols="50" rows="10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>

</body>
</html>