<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<a href = "navigation.html">Back</a>
<h1>Tuiter</h1>
<h2>Profile</h2>
<img width="100%"
     height="200px"
     src="https://cdn.pixabay.com/photo/2016/09/08/13/58/desert-1654439__340.jpg"/>
<br/>
<img width="48px"
     height="48px"
     src="https://icons.veryicon.com/png/o/system/ali-mom-icon-library/random-user.png"/>
<a href = "edit-profile.html">Edit profile</a>
<br/>
<h2>WebDev</h2>
@WebDev
<br/>
<p>Developer in the making. Lover of mathematics and pizza. Love to Learn!</p>
<p>Joined January 2023</p>
<p><b>123</b> Following <b>234</b> Followers</p>
<ul>
  <li><a href = "tuits.html">Tuits</a></li>
  <li><a href = "tuits-and-replies.html">Tuits & replies</a></li>
  <li><a href = "media.html">Media</a></li>
  <li><a href = "likes.html">Likes</a></li>
</ul>
</body>
</html>